<!DOCTYPE html>
<html>
<head>
	<title>Life and Style With Angie</title>
</head>
<body>
	<div>
		<h1><a href="/">Life and Style With Angie</a></h1>
	</div>

	<div>
		<p>published: </p>
		<h2><a href="">First Post</a></h2>
		<p>The plan is to start the business primarily as a technology solution to agriculture. This will be done by providing a transparent way to track all aspects of the supply chain process. Following that, we intend to lease our own land, based on professional advice on soil moisture quality and environmental viability, then use this to start digital farming based on block chain technology. A Kenyan in the diaspora or a professional based in the city with no access to land in the rural area will be able to lease land through us and engage in agricultural activities, from the comfort of their own phone/tab/laptop, waiting for their dividends.
		With growth, research and access to professional advice, we intend to use the same technology in the looming healthcare transformation.
		Technology is dynamic, and we intend to use block chain technology to positively impact as many industries as possible.
		</p>

    </div>

    <div>
    	<p>published: </p>
    	<h2><a href="">Second Post</a></h2>
    	<p>
    		Producers (farmers) will get maximum profits for their produce. Suppliers (middlemen) will be replaced as the system tracks the process through DTL, making the cost of having middlemen unnecessary. Retailers will be able to buy directly from the producers, again cutting middlemen costs and delays due to prolonged supply chain processes. Consumers will be able to track back the produce and have the assurance that what they are consuming is of great quality. First time farmers will be able to invest in the business and monitor their farms digitally, awaiting dividends.
    	</p>
    </div>
</body>
</html>